<div class="container">
  <footer style="background-color: #181818;" class="d-flex flex-wrap justify-content-center fixed-bottom py-2">
    <div class="col-md-4 d-flex">
      <h6 class="heading">
          <span style="color: #fffc00; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" class="highlighted-text">
              <img src="assets/Chat symbol.png" width="16" height="17" alt="">
              New!
          </span>
          <span style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" class="text">
              Snap, chat and video call your friends from your browser.
          </span>
          <span class="Links">
            <a href="https://web.snapchat.com/?ref=web_try_now_footer_cta" style="color: #fffc00;">
              Try now!
            </a>
          </span>
      </h6>
    </div>
  </footer>
</div>
