<section class="w-100 px-4 py-5 custom" style="border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <div class="card bg-light text-black" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <div class="">

              <h2 class="fw-bold mb-3 text-center">Log In</h2>
              <p class="text-black-50 text-center">to continue to Ads Manager</p>
              <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="form-outline form-white mb-4">
                    <input ngModel name="email" class="form-control" type="email" id="floatingInput" placeholder="name@example.com" required email>
                    <label for="floatingInput" class="ps-4">Email</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input ngModel name="username" class="form-control" type="text" id="inputUsername" placeholder="Username" required username>
                    <label for="inputUsername" class="ps-4">Username</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input ngModel name="password" class="form-control" type="password" id="floatingPassword" placeholder="Password" required password>
                    <label for="floatingPassword" class="ps-4">Password</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input class="form-control" type="password" id="floatingConfirmPassword" placeholder="Password">
                    <label for="floatingConfirmPassword" class="ps-4">Re-Enter Password</label>
                  </div>
                  <button href="SecondLayout" class="btn btn-dark create" type="submit" (click)="buttonClicked=' = SignUp'">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
