<nav class="navbar navbar-expand-lg fixed-top navbar-dark"style="background-color: #fffc00;">
    <a class="navbar-brand" href="">
      <img src="assets/snapchat-logo.png" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="https://forbusiness.snapchat.com/" style="color: #000000">Advertisers</a>
        <li class="nav-item">
          <a class="nav-link" href="https://creators.snap.com/" style="color: #000000">Creators</a>
        <li class="nav-item">
          <a class="nav-link" href="https://developers.snap.com/" style="color: #000000">Developers</a>
        <li class="nav-item">
          <a class="nav-link" href="https://ar.snap.com/" style="color: #000000">Snap AR</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" style="color: #000000" role="button" data-bs-toggle="dropdown">
            Features</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://story.snapchat.com/spotlight/W7_EDlXWTBiXAEEniNoMPwAAYcnFzdmFuamNnAYSKXHZOAYSKXGRqAAAAAA?lang=en-US">Spotlight</a></li>
            <li><a class="dropdown-item" href="https://www.snapchat.com/discover?lang=en-US">Stories</a></li>
            <li><a class="dropdown-item" href="https://map.snapchat.com/?lang=en-US">Maps</a></li>
            <li><a class="dropdown-item" href="https://lens.snapchat.com/?lang=en-US">Explore Lenses</a></li>
            <li><a class="dropdown-item" href="https://create.snapchat.com/org/guest/purchase/filter/upload-asset">Create Filters</a></li>
            <li><a class="dropdown-item" href="https://snapcodes.snapchat.com/">Snapcodes</a></li>
          </ul>
        </li>
        <a role="button" class="btn btn-light" href="https://www.snapchat.com/download">
          Download
        </a>
        <a role="button" class="btn btn-dark" href="https://web.snapchat.com/?ref=web_nav_login_button/">
          Log in to chat
        </a>
      </ul>
    </div>
    </nav>
