nav {
    height: 75px;
}
.navbar-nav{
    color: black;
    margin-left: 16px;
    margin-right: 16px;
}
.navbar-brand{
    margin-left: 25px; 
}
.btn-light {font-weight: bold; 
    border-radius: 24px;
    margin-left: 8px;
}
.btn-dark {font-weight: bold; 
    border-radius: 24px;
    margin-left: 15px;
    margin-right: 74px;
}