<p *ngIf="myInfo == undefined"> Failed fetching user info </p>
<div *ngIf="myInfo != undefined"> 
    <div class="container-fluid">
        <div class="flex-row">
            <div class="d-flex flex-column justify-content-between">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
                Mix Id:
            </div>
            <div class="flex-column">
                GitHub:
            </div>
        </div>
    </div>
</div>