<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFC00;">
    <a class="navbar-brand" href="http://localhost:4200/">
      <img src="assets/snapchat-logo.png" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" style="color: black;" href="#">Advertisers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black;" href="#">Creators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black;" href="#">Developers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" style="color: black;" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" style="color: black;" href="#" role="button" data-bs-toggle="dropdown">
              Snap AR</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Spotlight</a></li>
              <li><a class="dropdown-item" href="#">Stories</a></li>
              <li><a class="dropdown-item" href="#">Maps</a></li>
              <li><a class="dropdown-item" href="#">Explore Lenses</a></li>
              <li><a class="dropdown-item" href="#">Create Filters</a></li>
              <li><a class="dropdown-item" href="#">Snapcodes</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </nav>
