<div class="scroll">
    <div class="body-text">
      <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;" class="text">
        <h1>Get Snapchat for any device</h1>
        <p>An adventure awaits. Hang out with your friends on our desktop app and keep the conversation going on mobile.</p>
        <a role="button" class="btn btn-dark" href="SecondLayout">
          Log in to chat
        </a>
    </span>
    </div>
    <div class="container-fluid d-flex row justify-content-center">
      <app-vertical-card class="column" link="https://apps.apple.com/app/apple-store/id447188370" button="Download" title="IOS" img="assets/IOS.jpg"> Loading... </app-vertical-card>
      <app-vertical-card class="column" link="https://play.google.com/store/apps/details?id=com.snapchat.android&referrer=download_page" button="Download" title="Android" img="assets/android.jpg"> Loading... </app-vertical-card>
      <app-vertical-card class="column" link="SecondLayout" button="Log in to Chat" title="Desktop" img="assets/Labtop Snap.png"> Loading... </app-vertical-card>
      <app-vertical-card class="column" link="SecondLayout" button="Log in to Chat" title="Chat on the web!"> Loading... </app-vertical-card>
    </div>