<nav class="navbar navbar-expand-lg fixed-top navbar-dark"style="background-color: #fffc00;">
    <a class="navbar-brand" href="">
      <img src="assets/Snap Inc.svg" Salt="">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="https://forbusiness.snapchat.com/" style="color: #000000">Home</a>
        <li class="nav-item">
          <a class="nav-link" href="https://creators.snap.com/" style="color: #000000">Careers</a>
        <li class="nav-item">
          <a class="nav-link" href="https://developers.snap.com/" style="color: #000000">News</a>
        <li class="nav-item">
          <a class="nav-link" href="https://ar.snap.com/" style="color: #000000">Privacy and Safety</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://ar.snap.com/" style="color: #000000">Investors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ar.snap.com/" style="color: #000000">Advertisers</a>
          </li>
      </ul>
    </div>
</nav>